@model IEnumerable<BasicWebApp.Models.ProductInformation>

@{
    ViewBag.Title = "Product Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Information</h2>


@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["DeleteMessage"]
    </div>
}
@if (TempData["CreateMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["CreateMessage"]
    </div>
}
@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["EditMessage"]
    </div>
}
<p>
    @Html.ActionLink("Create a Product", "CreateProduct")
</p>
@*<p>
        @Html.ActionLink("Delete a Product", "DeleteProduct")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)x
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { productId = item.ProductId }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "DeleteProduct", new { productId = item.ProductId })
            </td>
        </tr>
    }

</table>


@*<div>
        <h4>ProductInformation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductQuantitiy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductQuantitiy)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
